body{
    background-color: #dddddd;
}
.backgroung{
    position: relative;
    text-align: center;
    color: white
}
.intro{ 
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-505, -50%);
    font-size: 50px;
    color: white;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;    
}
li {
    display: inline;
}
li {
    float: right;
}
a:hover{
    color: hsl(214, 7%, 54%);
    background: #010b16
}  
a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
ul{
    background-color: #dddddd;

}
.profession{
    font-family: sans-serif;
}
#About{
    line-height: 50%;
    font-size: 20px;
    height: 500px;
    margin: auto;
}
.content{
    padding:10px;
    line-height: 20px;
}
.shida{
    line-height: 20px;
}
.skills{
    line-height: 50%;
}
#contact{
    width: 1200px;
    margin: auto;
    height: 500px;;
}
.row {
    margin: 8px -16px;
  }
  .row,
  .row > .column {
    padding: 8px;
  }
  .column {
    float: left;
    width: 25%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }